<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
        <section name="mongoSettings" type="System.Configuration.NameValueSectionHandler" />
        <section name="languageStrings" type="System.Configuration.NameValueSectionHandler" />
  </configSections>

    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

	<mongoSettings>
        <add key="server" value="mobiledata.bigdatacorp.com.br" />
        <add key="port" value="21766" />
        <add key="user" value="GitHubCrawlerUser" />
        <add key="password" value="g22LrJvULU5B" />
        <add key="database" value="MobileAppsData" />
        <add key="apps-collection" value="PlayStore_2015_11" />
        <add key="reviews-collection" value="ProcessedReviews" />
        <add key="queued-apps-collection" value="PlayStore_QueuedApps_2015_11" />
        <add key="reviewers-collection" value="ReviewersData" />
        <add key="auth-db" value="MobileAppsData" />
  </mongoSettings>

  <languageStrings>
    <add key="chosen-language" value="en" />
    <add key="en" value="No results for your search" />
    <add key="pt-br" value="Nenhum resultado para sua pesquisa" />
  </languageStrings>
</configuration>
