<mongoSettings>
	<add key="server" value="mobiledata.bigdatacorp.com.br" />
	<add key="port" value="21766" />
	<add key="user" value="GitHubCrawlerUser" />
	<add key="password" value="g22LrJvULU5B" />
	<add key="database" value="MobileAppsData" />
	<add key="apps-collection" value="PlayStore_2015_09" />
	<add key="reviews-collection" value="ProcessedReviews" />
	<add key="queued-apps-collection" value="PlayStore_QueuedApps_2015_09" />
	<add key="reviewers-collection" value="ReviewersData" />
	<add key="auth-db" value="MobileAppsData" />
</mongoSettings>