<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="mongoSettings" type="System.Configuration.NameValueSectionHandler, System" />
		<section name="languageStrings" type="System.Configuration.NameValueSectionHandler, System" />
	</configSections>

    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

	<mongoSettings configSource="mongo.config" />
	<languageStrings configSource="language.config" />
</configuration>