<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="keenIOBucketName" value="PlayStoreApps" />
    <add key="keenIOProjectID" value="5494cf48d2eaaa60e058c594" />
    <add key="keenIOMasterKey" value="I CANT PROVIDE MY MASTER KEY, IM SORRY" />
    <add key="keenIOWriteKey" value="I CANT PROVIDE MY WRITE KEY EITHER, IM SORRY" />
    <add key="keenIOReadKey" value="e28d0f83e0ec9004a7610a4dbb3656c638512e8e3e4ee07aaceb30a3ac8a54b37dc584c7c8b189a7409f98805668a655482f2ef662c714b7a9194637435862d938f885d3434f4fa986e190a7d6bb1a0c8940b7c4372ea9d5f3513f65b83bfb67125ea23ae90c49dce50fe4ca59482757" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="PCLStorage.Abstractions" publicKeyToken="286fe515a2c35b64" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.9.6.0" newVersion="0.9.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PCLStorage" publicKeyToken="286fe515a2c35b64" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.9.6.0" newVersion="0.9.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>